<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028808373385-t65kodn663i36je010e4l5tabchfbsrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028808373385-t65kodn663i36je010e4l5tabchfbsrv</string>
	<key>API_KEY</key>
	<string>AIzaSyCAcepvuthzK9-Z6loHtvBbfxP8KEHKQkA</string>
	<key>GCM_SENDER_ID</key>
	<string>1028808373385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.martins.riss.map-start</string>
	<key>PROJECT_ID</key>
	<string>thirdmd-martins</string>
	<key>STORAGE_BUCKET</key>
	<string>thirdmd-martins.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028808373385:ios:f08a3491d84fa7f0598258</string>
	<key>DATABASE_URL</key>
	<string>https://thirdmd-martins.firebaseio.com</string>
</dict>
</plist>